*{
    margin: 0%;
    padding: 0%;
}

.inline{
    display: inline;
    color: rgb(245, 235, 242);
}

.heads{
    color: rgb(209, 197, 204);
}

.one{
    background: url("../images/car-bg.jpg") left bottom;
    background-size: cover;
    border-radius: 3px;
    box-shadow: #0e0b0b 0 1px 12px;
    padding: 50px 0;
}



#hotwheelstitle {
    padding-left: 10px;
    padding-top: 5px;

}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotwheelsblock {
    padding: 0px;
    margin-right: 0px;
    height: 200px;
    border-radius: 6px;
    max-width: 100%;

}

.hotwheelsblock img{
    max-width: 100% ;
    border-radius: 3px;
    box-shadow: #000 0 1px 6px;
    max-height: 200px;
}

